<!-- Large modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div id="backupAccountExtendedDetails" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title rs-modal-title" ><span contenteditable>{{accountDetails.AccountName}}</span></h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
<div>
    <div class="rs-list-detail">Account Usage</div>
  
    <div class="rs-custom-progress">
        <div class="progress rs-progress-bar-background">
            <div class="progress-bar rs-progress-bar-foreground" role="progressbar"   [style.width.%]="getCapacityUsed()"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
       
    </div>
 
        <!-- <div>{{getCapacityUsed()}}%</div> -->
          <div>
            <div class="rs-list-detail">Guid</div>
            <div class="rs-list-value">{{accountDetails.Guid}}</div>
          </div>
          <div>
            <div class="rs-list-detail">Backup Limit</div>
            <div class="rs-list-value"><span contenteditable>{{(accountDetails.Limit / 1024).toFixed(2)}}</span>GB</div>

          </div>
          <div>
            <div class="rs-list-detail">Overlimit</div>
            <div class="rs-list-value">{{accountDetails.OverLimit}}</div>
          </div>
          <div>
            <div class="rs-list-detail">Mirror Server</div>
            <div class="rs-list-value">{{accountDetails.MirrorServer}}</div>
          </div>
          <div>
            <div class="rs-list-detail">Last backup</div>
            <div class="rs-list-value">{{accountDetails.LastBackupDate}}</div>
          </div>


        </div>

        <br>
     
        <div id="exampleAccordion" data-children=".item">
            <div class="item">
              <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" role="button" aria-expanded="false" aria-controls="exampleAccordion1">
                  View extended details
              </a>
              <div id="exampleAccordion1" class="collapse" role="tabpanel">
                <p class="mb-3">
                    Created on : {{accountDetails.CreatedOn}}
                </p>
              </div>
            </div>
            <div class="item">
              <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                View last backup details
              </a>
              <div id="exampleAccordion2" class="collapse" role="tabpanel">
                <p class="mb-3">
                  Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
              </div>
            </div>
            <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" role="button" aria-expanded="false" aria-controls="exampleAccordion3">
                  View backup history
                </a>
                <div id="exampleAccordion3" class="collapse" role="tabpanel">
                  <p class="mb-3">
                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  </p>
                </div>
              </div>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="rs-button rs-button-thick rs-button-red" data-dismiss="modal">Close</button>
        <button type="button" class="rs-button rs-button-thick rs-button-white">Save changes</button>
      </div>
    </div>
  </div>
</div>