#image-wrapper{
    height: 10em;
    width: 100%;
    position: relative;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  
  #loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 60px;
    display: block;
    margin: 0 auto ;
    animation: fadeIn 1.5s infinite alternate;
  }
