button {
    background-color: #ffffff;
    color: #464646;
    outline: none;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    border-color: #464646;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 8px 8px 0 rgba(0,0,0,0.1);

    display: table;
    margin: 8px auto;

}