a{
    color:#464646;
    text-decoration: none;
}
.panel-group{
    margin-bottom: 10px;
}

.panel{
    padding: 0px;
}


.custom-header-panel{
    height: 3em;
    border: 1px solid #dedede;
    padding: 8px 8px 8px 16px;
}

.custom-header-panel:hover{
  background-color: #FAFAFA;
}
