<!-- <ul>
    <li *ngFor="let node of treeData">
      {{node.Name}}
      <app-tree [treeData]="node.children"></app-tree>
    </li>
</ul> -->

  <!--
  https://codepen.io/aanjulena/pen/ZLZjzV
  https://stackoverflow.com/questions/39175389/how-to-change-the-bootstrap-accordion-panel-heading-title-background-color-when
  https://stackoverflow.com/questions/35605772/active-state-on-bootstrap-acccordion-click
  https://stackoverflow.com/questions/10984745/how-to-change-background-color-of-active-accordion-segment
  https://stackoverflow.com/questions/41613628/in-angular2-how-to-add-a-css-class-to-an-element-when-the-link-is-clicked-witho
  https://jharaphula.com/heading-background-color-bootstrap-accordion/
  http://jsfiddle.net/h38jn324/350/
  https://stackoverflow.com/questions/25458074/bootstrap-3-collapse-adding-active-class-to-open-panel <<<<<
  https://codepen.io/martinkrulltott/pen/mPgYgQ <<<<<
  https://stackoverflow.com/questions/42809368/angular-2-adding-a-class-to-a-dom-element-when-clicked <<<<<
  -->

<!-- TODO:
- Styling
- Think of things to display on the groups/collections
  - disabled
  - size?
  - other info 
    - size?
    - errors?
-->


<div class="container">
  <div id="{{accordionGroup}}" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let node of treeData ">
          <div class="card-header" role="tab" id="headingOne"  data-toggle="collapse" [attr.data-parent]="dataParentId" data-target="#collapseOne">
              <!-- group button depending on group type -->
              <img  class="custom-panel-icon"
                    *ngIf="node.GroupType == 'BackupGroup'"
                    src="../../../assets/images/environment.png">

              <img  class="custom-panel-icon"
                    *ngIf="node.GroupType == 'AdminGroup'"
                    src="../../../assets/images/GroupCollection.png">  

              <h5 class="mb-0 custom-card-h-header">
                <a  *ngIf="node.GroupType == 'AdminGroup'" 
                    (click)="adminGroupClicked(node.Name, node.Id, $event)"
                    data-toggle="collapse" 
                    [attr.data-parent]="dataParentId" 
                    href="#{{node.Id}}">
                    {{node.Name | uppercase}}
                </a>

                <a  *ngIf="node.GroupType == 'BackupGroup'"
                    (click)="getBackupAccountsForGroup(node.Name, node.Id, $event)"
                    data-toggle="collapse" 
                    [attr.data-parent]="dataParentId" 
                    href="#{{node.Id}}">
                    {{node.Name | uppercase}}
                  </a>


              </h5>


            <!-- change group settings button -->
            <button
            type="button"
            class="custom-panel-button-icon custom-preferences-button"
            (click)="groupSettingsButtonClicked(node.Name, node.Id)">
            </button>

            <!-- remove group button -->
            <button
            type="button"
            class="custom-panel-button-icon custom-remove-button"
            (click)="removeGroupButtonClicked(node.Name, node.Id)">
            </button>

            <!-- add group button if current group is a collection-->
            <button *ngIf="node.GroupType == 'AdminGroup'"
            type="button"
            class="custom-panel-button-icon custom-add-button"
            (click)="addGroupButtonClicked(node.Name, node.Id)">
            </button>


          </div>

          <div id="{{node.Id}}" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">

                <!-- recursively create collection/group structure here -->
                <app-tree [treeData]="node.children" ></app-tree>

                <!-- check if backup group -->
                <div *ngIf="node.GroupType == 'BackupGroup'">
                    <!-- accounts get populated here -->
                    <div *ngIf="!accounts && accountsLoading">LOADING...</div>
          
                    <app-account-list
                      *ngIf="!!accounts"
                      [accountList]="accounts">
                    </app-account-list>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
