a{
    color:#464646;
    text-decoration: none;
}

.card{
    border: none;
}

.card-header{
    border: none;
    background-color: #ffffff!important;
}

.card-header:hover{
    background-color: #FAFAFA!important;
}

.custom-active{
    background-color: #E0E0E0!important;
}
.custom-active:hover{
    background-color: #E0E0E0!important;
}




.custom-card-h-header{
    display: inline-block!important;
    /* background-color: red; */
    width: 85%;
}

.rs-list-item-icon{
    display: inline-block!important;
}
.rs-list-item-button {
    display: inline-block!important;
}