<!-- <ul>
    <li *ngFor="let node of treeData">
      {{node.Name}}
      <app-tree [treeData]="node.children"></app-tree>
    </li>
</ul> -->

  <!-- 
  https://codepen.io/aanjulena/pen/ZLZjzV
  https://stackoverflow.com/questions/39175389/how-to-change-the-bootstrap-accordion-panel-heading-title-background-color-when
  https://stackoverflow.com/questions/35605772/active-state-on-bootstrap-acccordion-click
  https://stackoverflow.com/questions/10984745/how-to-change-background-color-of-active-accordion-segment
  https://stackoverflow.com/questions/41613628/in-angular2-how-to-add-a-css-class-to-an-element-when-the-link-is-clicked-witho
  https://jharaphula.com/heading-background-color-bootstrap-accordion/
  http://jsfiddle.net/h38jn324/350/
  https://stackoverflow.com/questions/25458074/bootstrap-3-collapse-adding-active-class-to-open-panel <<<<<
  https://codepen.io/martinkrulltott/pen/mPgYgQ <<<<<
  https://stackoverflow.com/questions/42809368/angular-2-adding-a-class-to-a-dom-element-when-clicked <<<<<
  -->

<!-- TODO:
- Styling
- Add accounts under groups
- Display some message if a group is empty
- Think of things to display on the groups/collections 
  - icon
  - edit settings
  - remove group
  - disabled
  - size?
  - other info -->

<!-- <div class="container">
  <div class="panel-group">
    <div class="panel panel-default" *ngFor="let node of treeData ">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#{{node.Id}}">{{node.Name | uppercase}}</a>
        </h4>
      </div>
      <div id="{{node.Id}}" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">
              <app-tree [treeData]="node.children"></app-tree>
          </li>
        </ul>
        <div *ngIf="node.GroupType == 'BackupGroup'"><p>Accounts coming soon...</p></div>
      </div>
    </div>
  </div>
</div> -->



<div class="accordion panel-group" id="{{count}}" >
    <div class="panel panel-default" *ngFor="let node of treeData ">
      <div class="custom-header-panel panel-heading" >
        

        <!-- group button depending on group type -->
        <img  class="custom-panel-icon" 
              *ngIf="node.GroupType == 'BackupGroup'" 
              src="../../../assets/images/environment.png">
  
        <img  class="custom-panel-icon"
              *ngIf="node.GroupType == 'AdminGroup'" 
              src="../../../assets/images/GroupCollection.png">
  
        <!-- name of the group -->
        <a  data-toggle="collapse" 
            aria-expanded="false" 
            class="collapsed"
            *ngIf="node.GroupType == 'BackupGroup'" 
            href="#{{node.Id}}" 
            (click)="getBackupAccountsForGroup(node.Name, node.Id)">{{node.Name | uppercase}}</a>
        
        <!-- name of the collection -->
        <a  data-toggle="collapse" 
            aria-expanded="false" 
            class="collapsed"
            *ngIf="node.GroupType == 'AdminGroup'" 
            href="#{{node.Id}}">{{node.Name | uppercase}}</a>


        <!-- change group settings button -->
        <button
          type="button"
          class="custom-panel-button-icon custom-preferences-button"
          (click)="groupSettingsButtonClicked(node.Name, node.Id)">
        </button>
  
        <!-- remove group button -->
        <button
          type="button"
          class="custom-panel-button-icon custom-remove-button"
          (click)="removeGroupButtonClicked(node.Name, node.Id)">
        </button>
  
        <!-- add group button if current group is a collection-->
        <button *ngIf="node.GroupType == 'AdminGroup'"
          type="button"
          class="custom-panel-button-icon custom-add-button"
          (click)="addGroupButtonClicked(node.Name, node.Id)">
        </button>
  
      </div>


      <div id="{{node.Id}}" class="panel-body panel-collapse collapse">

        <!-- recursively create collection/group structure here -->
        <app-tree [treeData]="node.children" ></app-tree>

        <div *ngIf="node.GroupType == 'BackupGroup'">
          <!-- accounts get populated here -->
          <app-account-list></app-account-list>
      </div>
    </div>
  </div>
      