.page{
    position: relative;
}

#account-management{
    padding: 0px;

}

#spGroups{
    width: 100%;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 8px 8px 0 rgba(0,0,0,0.1); */
}

.rs-breadcrumb{
    background-color: #ffffff!important;
    padding-top: 4em;
}

.rs-breadcrumb-item{
    cursor: pointer;
}




#rs-management-table{
    width: 100%;
    /* background-color: lightgreen; */
}

.rs-table-header{
    font-family: Roboto-Thin;
    font-size: 1em;
    color:#9E9E9E;
}

.rs-management-table-icon-column{
    position: relative;
    height: 100%;
    width: 4em;
    padding-right: 1em;
    padding-left: 1em;
    /* background-color: pink; */
}
.rs-management-table-details-column{
    width: 100%;
    max-width: 15em;
    /* background-color: lightskyblue */
}
.rs-management-table-buttons-column{
    width: 8em;
    display: flex;
    flex-direction: row-reverse;
    /* background-color: yellow; */
}

.rs-table-row{
    height: 4em;
}

.rs-table-row:hover{
    background-color: #FAFAFA;
}

.rs-table-centered-icon{
    height: 1em;
    width: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rs-table-button{
 
    height: 1em;
    width: 1em;
    background-size: contain!important;
    border:none;
    margin: 0px 8px;

}

.rs-table-row-title{
    cursor: pointer; 
    width: 100%;
}


.rs-account-used-size-small-progress{
    background-color: #C92128;
}