<div id="account-management" class="container-fluid col-md-offset-2 col-md-8" *ngIf="this.userService.isUserLoggedIn()">
  <br>
  <app-backup-account-details [accountDetails]="accountDetails"></app-backup-account-details>
  <!-- breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb rs-breadcrumb">
      <li class="breadcrumb-item" *ngFor="let nav of currentLocationUrlBreadcrumb">
        <a (click)="breadcrumbNavItemClicked(nav)" class="rs-breadcrumb-item">{{nav.name}}</a>
      </li>
      <li class="breadcrumb-item rs-breadcrumb-item active" aria-current="page">{{currentLocation.name}}</li>
    </ol>
  </nav>

  <!-- search bar -->
  <input type="text" class="rs-input-text custom-input-search" placeholder="Search for backup account...">
  <br>
  <!-- if an error occurred -->
  <div *ngIf="errorOccurred">
    <app-retry-request></app-retry-request>
  </div>

  <div *ngIf="!errorOccurred">
    <!-- while loading -->
    <div *ngIf="loading">
      <p>LOADING...</p>
    </div>
    <!-- if no groups were found -->
    <div *ngIf="(currentLevelGroups.length == 0) && isAdminGroup && !loading">
      <h3 class="center-text">No backup groups or collections found</h3>
      <br>
      <button type="button" class="rs-button rs-button-thick rs-button-white" (click)="addGroupButtonClicked(currentLocation.name, currentLocation.id)">Add group / collection
      </button>
    </div>
    <!-- if no accounts were found -->
    <div *ngIf="(currentGroupAccounts.length == 0) && !isAdminGroup && !loading">

      <h3 class="center-text">No backup accounts found</h3>
    </div>


    <!-- class="table table-responsive rs-custom-table" -->
    <table id="rs-management-table">
      <thead>
          <div *ngIf="currentLevelGroups && isAdminGroup">
        <tr>
          <th class="rs-management-table-icon-column">Icon</th>
          <th class="rs-management-table-details-column">Name</th>
          <th class="rs-management-table-buttons-column">User buttons</th>
        </tr>
      </div>
      <div *ngIf="currentGroupAccounts && !isAdminGroup">
          <tr>
              <th class="rs-management-table-icon-column">Icon</th>
              <th class="rs-management-table-details-column">Name</th>
              <th class="rs-management-table-buttons-column">adsasd</th>
            </tr>
      </div>


      </thead>
      <tbody>
        <div *ngIf="currentLevelGroups && isAdminGroup">
          <tr class="rs-table-row" *ngFor="let group of currentLevelGroups">
            <td class="rs-management-table-icon-column">
              <img class="rs-table-centered-icon" *ngIf="group.GroupType == 'BackupGroup' && !group.Disabled" src="../../../assets/images/environment.png">
              <img class="rs-table-centered-icon" *ngIf="group.GroupType == 'BackupGroup' && group.Disabled" src="../../../assets/images/environment_error32.png">
              <img class="rs-table-centered-icon" *ngIf="group.GroupType == 'AdminGroup'" src="../../../assets/images/GroupCollection.png">

            </td>
            <td class="rs-management-table-details-column">
              <div class="">
                <div>
                  <a *ngIf="group.GroupType == 'AdminGroup'" class="d-inline-block text-truncate" (click)="adminGroupClicked(group.Name, group.Id, $event)">
                    {{group.Name | uppercase}}
                  </a>

                  <a *ngIf="group.GroupType == 'BackupGroup'" class="d-inline-block text-truncate" (click)="getBackupAccountsForGroup(group.Name, group.Id, $event)">
                    {{group.Name | uppercase}}
                  </a>
                </div>
                <div>
                  <span class="rs-list-item-subtitle">Temporary text
                  </span>
                </div>
              </div>
            </td>

            <td class="rs-management-table-buttons-column">
              <button type="button" class="rs-table-button rs-list-item-preferences-button" (click)="groupSettingsButtonClicked(group.Name, group.Id)">
              </button>
              <button type="button" class="rs-table-button rs-list-item-remove-button" (click)="removeGroupButtonClicked(group.Name, group.Id)">
              </button>
              <button *ngIf="group.GroupType == 'AdminGroup'" type="button" class="rs-table-button rs-list-item-add-button" (click)="addGroupButtonClicked(group.Name, group.Id)">
              </button>
            </td>
          </tr>
        </div>


        <!-- accounts -->
        <div *ngIf="currentGroupAccounts && !isAdminGroup">

          <tr class="rs-table-row" *ngFor="let account of currentGroupAccounts">
            <td class="rs-management-table-icon-column">
              <img class="rs-table-centered-icon" *ngIf="account.TypeId == 0" src="../../../assets/images/client_dl.png">
              <img class="rs-table-centered-icon" *ngIf="account.TypeId == 1" src="../../../assets/images/client_se.png">
              <img class="rs-table-centered-icon" *ngIf="account.TypeId == 3" src="../../../assets/images/client_ese.png">
            </td>


            <td class="rs-management-table-details-column">
              <div class="">
                <div>
                  <span class="" (click)="accountItemClicked(account.AccountName, account.Id)">{{account.AccountName | uppercase}}</span>
                </div>
                <div>
                  <span class="rs-list-item-subtitle">
                    {{(account.Limit / 1024).toFixed(2)}}GB
                  </span>
                </div>
              </div>
            </td>
          </tr>
          </div>

      </tbody>
    </table>
    </div>
  </div>