<div class="container" *ngIf="this.userService.isUserLoggedIn()">
  <div class="col">
     
    <br>
    <input type="text" 
          class="custom-input-text custom-input-search"
          placeholder="Search">
    <br>


    <div class="root-group-header">
        <p>{{this.userService.currentConsoleUser.rootBackupGroupName}}</p>
    </div>

    <!-- if no groups were found -->
    <div *ngIf="!this.dataService.structuredGroupData">
        <p>No groups found, please add some collections/groups </p>
    </div>

    <!-- entry poing for available groups and collections -->
    <div id="spGroups" *ngIf="this.dataService.structuredGroupData">
      <app-tree [treeData]=this.dataService.structuredGroupData></app-tree>
    </div>

  </div>
</div>


