<div *ngIf="!accountList">
  <p>no accounts, oops...</p>
</div>

<div *ngIf="accountList">
  <div class="panel panel-default" *ngFor="let account of accountList">
      <div class="custom-header-panel panel-heading">

        <!-- group button depending on group type -->

        <img  class="rs-list-item-icon"
            *ngIf="account.TypeId == 1"
            src="../../../assets/images/client_dl.png">

        <img  class="rs-list-item-icon"
            *ngIf="account.TypeId == 2"
            src="../../../assets/images/client_se.png">

        <img  class="rs-list-item-icon"
            *ngIf="account.TypeId == 3"
            src="../../../assets/images/client_ese.png">

          <!-- name of the account -->
          <a >{{account.AccountName | uppercase}}</a>
      </div>
  </div>
</div>
