
<div *ngIf="loading" class="loading">
  <app-loading-screen></app-loading-screen>
</div>

<div id="login-window" *ngIf="!loading">
  
  <div id="login-logo"></div>

  <div id="login-text">
    <h1>Redstor Pro Cloud Console</h1>
    <h4>Welcome! To continue, please login.</h4>
  </div>

  <div id="input-form" (keydown.enter)="doLogin()">
    <input 
      [(ngModel)]="platformAddress"
      type="text" 
      class="custom-input-text"  
      placeholder="Platform Address"
      autofocus>

    <input 
      [(ngModel)]="username"
      type="text" 
      class="custom-input-text"  
      placeholder="Username">

    <input 
      [(ngModel)]="password"
      type="password" 
      class="custom-input-text"  
      placeholder="Password">

    <span>
        <p [hidden]="this.dataService.errorOccurred.occurred" class="custom-error-message"></p>
        <p [hidden]="!this.dataService.errorOccurred.occurred" class="custom-error-message">
        {{this.dataService.errorOccurred.errorMessage}}
        </p>
    </span>


    <button 
      id="loginButton"
      type="button"
      class="custom-button-red" 
      [disabled]="waitingForRequest"
      (click)="doLogin(username, password, platformAddress)">LOGIN
    </button>

    <!-- TEMP LOADING IMAGE -->
    <div *ngIf="waitingForRequest" id="waiting-spinner">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
    </div>
  </div>
</div>