#login-logo{
    margin: 10% 0 0;
    background-image: url('/assets/images/logo_black.svg');
    background-repeat: no-repeat;
    background-position: center;

    height: 60px;
    display: block;
}


#input-form{
    display: block;
    margin:auto;
}
p{
    text-align: center;
}
