/* You can add global styles to this file, and also import other style files */


/* FONTS */

@font-face {
    font-family: Roboto-Regular;
    src: url("../res/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../res/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../res/fonts/Roboto-Light.ttf");
}

/* MAIN COMPONENT STYLES */
body{
    padding-top: 4em!important;
    font-family: Roboto-Light!important;
    color:#464646;
}

h1, h2, h3, h4{
    font-family: Roboto-Light;
    color:#464646;
}

h1{
    font-size: 1.6em;
    margin: 24px;
    text-align: center;

}
h4{
    font-size: 1em;
    font-weight: none;
    text-align: center;
}

button{
    font-family: Roboto-Light;
}
button:focus {
    outline:0;
}


/*  TEXT */
.custom-error-message{
    color:#CE992A;
    font-style: italic;
}





/*  INPUT */

.custom-input-text{
    color:#464646;
    width: 340px;
    padding: 16px 20px;

    box-sizing: border-box;
    border-style:solid;
    border-width:1px;
    border-color: #dedede;
    outline:none;

    display: table;
    margin: 8px auto;

    /*
    Transition
    */
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.custom-input-text:hover{
    border-color: #ed9095;
}


.custom-input-search{
    width: 100%;
    padding: 16px 24px 16px 42px; 

    /*
    Icon
    */
    background: url("/assets/images/search.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
}


/*  BUTTONS */


.custom-button-red {
    background-color: #C92128;
    color: white;
    outline: none;
    border: none;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 8px 8px 0 rgba(0,0,0,0.1);

    display: table;
    margin: 8px auto;

}

.custom-button-red:hover {
    background-color: #b31d24;
}






.custom-button-white {
    background-color: #ffffff;
    color: #464646;
    outline: none;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    border-color: #464646;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 8px 8px 0 rgba(0,0,0,0.1);

    display: table;
    margin: 8px auto;

}






/*  CUSTOM ICONS FOR BUTTONS */


.custom-panel-icon{
    margin-right: 1em;
}

.custom-panel-button-icon {
    background-size: contain!important;
    border:none;
    height: 1.2em;
    width: 1.2em;
    float: right;
    margin: 0px 8px;
    /*
    position: absolute;
    right: 0px;
    width: 10px;
    background-color:  #73AD21;
    padding: 10px;*/

}
.custom-preferences-button{
    background:url('assets/images/preferences.png') no-repeat;
}

.custom-remove-button{
    background:url('assets/images/delete.png') no-repeat;
}

.custom-add-button{
    background:url('assets/images/environment_add32.png') no-repeat;
}